


<div class="container">



  
  
  <div class="pt-5">
  
    
  
    Bitiş Giriş <br>
  
      
      <input type="date" style="width:30%;display: inline;" class="form-control" placeholder="select date" [ngModel]="startDate | date:'yyyy-MM-dd'"  (ngModelChange)="setDate('start', $event)"  name="startDate">
    
      <input type="date" style="margin-left:30px;width:30%;display: inline;" class="form-control" [ngModel]="endDate"  (ngModelChange)="setDate('end', $event)"  name="endDate" >
      
   

    <button *ngIf="toggleButton" style="float: right;" class="btn btn-primary"  (click)="filter()">Tarihleri Filtrele</button>
    <button *ngIf="!toggleButton" style="float: right;" class="btn btn-primary"  (click)="cleanFilter()">Filtreleri Temizle</button>

    <div class="alert alert-danger" *ngIf="errorMessage">
      {{errorMessage}}
    </div>
  
    <div class="card" style="margin-top:30px;">
      <div class="card-header">
        <div class="row">

          <div class="col-4">
            <input style="width:50%;" class="form-control mr-sm-2" name="search" [(ngModel)]="filterTerm" type="search" placeholder="Search" aria-label="Search">
          </div>
          <div class="col-4">
          <button  style="background-color:rgb(19, 88, 19);" class="btn btn-primary" (click)="exportToExcel()">Export to Excel</button>
        </div>
          
          </div>
        </div>
        <div class="card-body">
          <table id="excel-table" class="table table-striped">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Id</th>
              <th scope="col">User Id</th>
              <th scope="col">Begin Time</th>
              <th scope="col">End Time</th>
              <th scope="col">Date Info</th>
              <th scope="col">Excuse Hours</th>
              <th scope="col">Excuse Info</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of performanceList |filter: filterTerm; index as ind">
              <th scope="row">{{ind + 1}}</th>
              <td>{{item.id}}</td>
              <td>{{item.userId}}</td>
              <td>{{item.beginTime | date:'short'}}</td>
              <td>{{item.endTime | date:'short'}}</td>
              <td>{{item.dateInfo | date}}</td>
              <td>{{item.excuseHours}}</td>  
              <td>{{item.excuseInfo}}</td>            
              <td>
                <button class="btn btn-primary me-1" (click)="editPerformanceRequest(item)">Edit</button>
                <button class="btn btn-danger" (click)="deletePerformance(item, ind)">Delete</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  <app-performance [performance]="selectedPerformance" (save)="savePerformanceWatcher($event)"></app-performance>
  