<div class="container">
    <div class="pt-5">
  
      <div class="alert alert-danger" *ngIf="errorMessage">
        {{errorMessage}}
      </div>
  
      <div class="card">
        <div class="card-header">
          <div class="row">
  
            <div class="col-6">
              <h3>All Users</h3>
            </div>
  
            <div class="col-6 text-end">
              <button class="btn btn-primary" (click)="createUserRequest()">Create User</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Id</th>
              <th scope="col">AgentId</th>
              <th scope="col">Username</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of userList; index as ind">
              <th scope="row">{{ind + 1}}</th>
              <td>{{item.id}}</td>
              <td>{{item.agentId}}</td>
              <td>{{item.userName}}</td>
              <td>{{item.firstName}}</td>
              <td>{{item.lastName}}</td>              
              <td>
                <button class="btn btn-primary me-1" (click)="editUserRequest(item)">Edit</button>
                <button class="btn btn-danger" (click)="deleteUser(item, ind)">Delete</button>
                <button style="margin-left:10px;" class="btn btn-warning" *ngIf="item.roles[0].id == 4" (click)="makeAdmin(item, ind)">Make Admin</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  <app-user [user]="selectedUser" (save)="saveUserWatcher($event)"></app-user>
  