<div class="navbar navbar-expand navbar-dark bg-dark" style="background-color: #e3f2fd;">
  <a href="https://angular.io" class="navbar-brand ms-1">
    
    <img
      width="175"
      alt="Angular Logo"
      src="../assets/global-bilgi.svg"

    />
  </a>

  <div class="navbar-nav me-auto">
    <li class="nav-item">
      <a [routerLink]="['/admin']" *ngIf="isAdmin()" routerLinkActive="active" class="nav-link">Admin</a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/profile']" *ngIf="isAdmin()" routerLinkActive="active" class="nav-link">
        Performanslar
      </a>
    </li>
    
  </div>

  <div class="navbar-nav ms-auto" *ngIf="!currentUser?.id">
    <li class="nav-item">
      <a [routerLink]="['/register']" routerLinkActive="active" class="nav-link">Sign Up</a>
    </li>
    <li class="nav-item me-1">
      <a [routerLink]="['/login']" routerLinkActive="active" class="nav-link">Sign In</a>
    </li>
  </div>

  <div class="navbar-nav ms-auto"  *ngIf="currentUser?.id">
    <li class="nav-item">
      <a [routerLink]="['/home']" *ngIf="!isAdmin()" routerLinkActive="active" class="nav-link">{{currentUser.userName}}</a>
    </li>
    
    <li class="nav-item me-1">
      <a (click)="logOut()" class="nav-link"
      style="cursor: pointer;">
        Sign Out
      </a>
    </li>
  </div>
</div>

<router-outlet></router-outlet>
