/*@import "~bootstrap/dist/css/bootstrap.min.css";*/


.custom-card {
    width: 350px;
    max-width: 100%;
    background-color: #eee;
  }
  
  .user-icon {
    font-size: 100px;
    color: #50A057;
  }
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
